<?xml version="1.0"?>
<launch>

<arg name="map" default="$(find rmcl_example)/maps/tray.dae" />
<arg name="config" default="$(find rmcl_example)/config/micp_gpu.yaml"/>

<node pkg="rmcl" type="micp_localization" name="micp_localization" output="screen">
    <param name="map_file" type="string" value="$(arg map)" />
    <rosparam command="load" file="$(arg config)" />
    <remap from="pose_wc" to="/initialpose" />
</node>

</launch>
