<?xml version="1.0"?>
<launch>

<arg name="map" default="$(find-pkg-share rmcl_example)/maps/tray.dae" />

<node pkg="rviz2" exec="rviz2" name="rviz2" 
    args="-d $(find-pkg-share rmcl_example)/rviz/rmcl_micp.rviz">
    <param name="use_sim_time" value="true" />
    <param name="rviz_mesh_tools_plugins.Map3D" value="$(var map)" />
</node>

</launch>